<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort class="animate">

    <ng-container matColumnDef="FullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.payload.doc.data().firstName }}{{ user.payload.doc.data().lastName }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.payload.doc.data().email }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ (user.payload.doc.data().gender) == '1' ? 'Male':'Female'  }} </mat-cell>
    </ng-container>


    <!--  <ng-container matColumnDef="edit">-->
    <!--    <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>-->
    <!--    <mat-cell *matCellDef="let user">-->
    <!--      <button mat-raised-button  color="primary" (click)="openDialog(user)">Edit</button>-->
    <!--    </mat-cell>-->
    <!--  </ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  </mat-table>

</div>
